.spinner { 
  width: 30px;
  height: 30px;
  background-color: #E0E0E0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -15px;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

img {
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  opacity: 0;
}

img.loaded {
  opacity: 1 !important;
}

.md-label {
  top: -1px;
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon {
  /* background-color: rgba(22, 146, 208, 1); */
}

md-content.md-default-theme {
  color: black;
}

.login-dialog .login-logo {
  width: 120px;
}

body,html {
  overflow: hidden;
  margin: 0;
  background: #282828 !important;
  color: black !important;
}

.iron {
  pointer-events: none;
}

.dark {
  opacity: .5;
}

html {
  transition: opacity ease .3s;
  -webkit-transition: opacity ease .3s;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

*:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.animated-view {
  height: 100%;
}

.animated-view.ng-enter, .animated-view.ng-leave {
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.animated-view.ng-enter {
  opacity:0;
}
.animated-view.ng-enter.ng-enter-active {
  opacity:1;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
}

.animated-view.ng-leave {
  opacity:1;
  pointer-events:none;
}
.animated-view.ng-leave.ng-leave-active {
  opacity:0;
}

.pending {
  pointer-events: none;
  opacity: .2;
}

.out {
  opacity: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
 width: 9px;
 background-color:transparent;
}
::-webkit-scrollbar-track {
 background-color: rgba(175, 175, 175, 0.27);
}

::-webkit-scrollbar-thumb {
 background-color:rgba(102, 102, 102, 0.58);
border-radius: 0px;
 -webkit-transition-property:all;
 -webkit-transition-duration:.5s;
}
::-webkit-scrollbar-thumb:hover {
 background-color:rgba(102, 102, 102, 1);
}