.settings-dialog {
  width: 700px;
  height: 550px;
}

.settings-dialog .md-subheader.md-default-theme {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(163, 163, 163);
  margin: 0 !important;
}

.md-header-items-container {
  border-bottom: 1px solid #D8D8D8;
}

.settings-dialog .spinner { 
  width: 30px;
  height: 30px;
  background-color: #8B8B8B;
  position: fixed;
  top: 320px;
  left: 50%;
  margin: -15px;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.settings-dialog .settings-include.ng-enter {
  opacity: 0;
  transition: opacity ease .5s .5s;
  -webkit-transition: opacity ease .5s .5s;
}

.settings-dialog .settings-include.ng-enter.ng-enter-active { 
  opacity: 1;
}

.settings-dialog .settings-include.ng-scope {
    width: 100%;
    display: block;
    overflow: auto;
    height: 430px;
}

.settings-dialog .md-content-settings {
  height: 390px;
  padding: 0px;
  overflow-x: hidden;
}

.settings-dialog .md-placeholder {
  opacity: 0;
}

.settings-dialog md-input-container.settings-basic-input.md-default-theme,
.settings-dialog md-checkbox {
    margin: 13px 0 0 55px;
    width: 50%;
    padding-bottom: 3px;
}

.settings-dialog .settings-save {
  order: 1;
  text-align: right;
  margin-right: 18px;
}

.settings-dialog .settings-general-divider span {
  margin-left: 10px;
}

[ng-controller="generalCtrl"] {
  transition: opacity ease .3s;
  -webkit-transition: opacity ease .3s;
}

.smart-list {
  height: 430px;
  overflow: auto;
  padding: 0px;
  overflow-x: hidden;
}

.fields {
    margin: 20px 20px 0;
    padding: 0 0 3px;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-weight: bold;
}

.field-name {
  font-size: 12px;
  padding: 0 46px 0 6px;
}

.data-pool {
  height: 330px;
  overflow: auto;
}

.entry {
    height: 29px;
    margin: 0 20px;
}

.entry:nth-child(even) {
    background: rgb(247, 247, 247);
}

.entry > div {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  margin: 6px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 11px;
}

.basic-input {
  margin: 0px;
  width: 100px;
  padding-bottom: 3px;
}

md-select {  
  margin: 3px 0 0 0 !important;
}

.smart-list md-checkbox {
  width: 14px;
  height: 14px;
  margin: 3px 11px;
  display: inline-block;
  font-size: 5px !important;
}

.smart-list md-checkbox .md-icon {
  width: 14px;
  height: 14px;
}

.smart-list md-checkbox .md-container {
  height: 16px !important;
}

.smart-list md-checkbox.md-checked .md-icon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 5px;
  top: 1px;
  display: table;
  width: 4px;
  height: 10px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  content: ' ';
}

.option-icon {
    float: right;
    width: 20px !important;
    margin: 5px 7px 0 0 !important;
    opacity: .2;
    cursor: pointer;
    padding: 4px;
    text-align: center;
}

.entry:hover .option-icon {
    opacity: .5;
}

.option-icon:hover {
    opacity: .6 !important;
    background: #D5CCCC;
    border-radius: 3px;
}

.button-line {
    padding: 15px 0 0 22px;
}

.slide-animate {
  height: 430px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.slide-animate.ng-enter {
  top:-430px;
}
.slide-animate.ng-enter.ng-enter-active {
  top:0;
}

.slide-animate.ng-leave {
  top:0;
}
.slide-animate.ng-leave.ng-leave-active {
  top:430px;
  opacity: 0;
}

.edit-user {
height: 430px;
  background: white;
}

.edit-user md-input-container {
  width: 310px !important;
}

.edit-user md-select {
    float: right;
}

.edit-user md-select {
  float: right;
  display: block;
  width: 160px;
  margin: 19px 110px !important;
  position: relative;
  top: 17px;
}

.edit-user md-select .md-placeholder {
  opacity: 1 !important;
}

.settings-confirm-dialog.visible {
    opacity: 1 !important;
    pointer-events: all;
}

.settings-confirm-dialog {
    opacity: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.58);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: opacity ease .2s;
    -webkit-transition: opacity ease .2s;
}

.settings-confirm-dialog .dialog-window {
    background: white;
    width: 50%;
    top: 50%;
    position: absolute;
    margin: auto;
    box-shadow: 0 7px 24px rgba(0, 0, 0, 0.32);
    border-radius: 4px;
    padding: 3%;
    left: 25%;
    margin: -52px 0 0 0;
}

.settings-confirm-dialog .title {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
}

.settings-confirm-dialog .message {
    display: block;
    margin-bottom: 27px;
}

.settings-confirm-dialog button {
    float: right;
}